name: Predictive Maintenance - Engine condition prediction


on:
  push:
    branches:
      - main  # Automatically triggers on push to the main branch


jobs:

  register-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: pip install -r mlops/requirements.txt

  deploy-hosting:
    runs-on: ubuntu-latest
    needs: [register-dependencies]
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: pip install -r mlops/requirements.txt
      - name: Push files to Frontend Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python mlops/hosting/hosting.py
